spring:
  application:
    name: reconecta
  datasource:
    url: jdbc:postgresql://ep-fancy-cake-a48tdu6h-pooler.us-east-1.aws.neon.tech:5432/neondb?sslmode=require&channel_binding=require
    username: neondb_owner
    password: npg_idZSE7nqWLK8
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
